body {
  color: @color-dark-grey;
  font-family: @font-family;
  font-size: @font-size-normal;
  line-height: 1.428571429; // 20/14;
  min-width: 1px;
  margin: 0;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.clearfix { 
  display: inline-block;
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  } 
}

.action-link {
  color: @link-color;
  text-decoration: none;
  font-size: @font-size-small;
  
  &:hover {
    text-decoration: underline;
  }
}

.AppContainer {
  margin: @font-size-large;
}
