@import "../../theme/variables.scss";

.AppFooter {
  background-color: $color-blueGrey900;
  color: $color-grey50;
  padding: 16px;
  text-align: center;

  & a {
    color: $color-grey50;
    &:hover {
      color: $color-grey50;
    }
  }
}