{
  "presets": ["react", "es2015", "stage-0"],

  "plugins": [
    "react-hot-loader/babel",
    "transform-runtime",
    "add-module-exports",
    "syntax-async-functions",
    "transform-regenerator",
    "transform-decorators-legacy",
    "transform-react-display-name",
    "transform-proto-to-assign",
    "transform-flow-strip-types"
  ],

  "env": {
    "development": {
      "plugins": [
        ["react-transform", {
            "transforms": [{
                "transform": "react-transform-catch-errors",
                "imports": ["react", "redbox-react"]
              }
            ]
        }]
      ]
    }
  }
}
