{
  "passPerPreset": true,
  "plugins": [
    "transform-decorators-legacy",
    "react-hot-loader/babel",
    "add-module-exports",
    "syntax-async-functions",
    "transform-regenerator",
    "transform-react-display-name",
    "transform-proto-to-assign",
    "transform-flow-strip-types"
  ],
  "presets": [
    {
      "plugins": ["transform-runtime"]
    },
    {
      "passPerPreset": false,
      "presets": ["react", "es2015", "stage-0"]
    }
  ],

  "env": {
    "development": {
      "plugins": [
        ["react-transform", {
            "transforms": [{
                "transform": "react-transform-catch-errors",
                "imports": ["react", "redbox-react"]
              }
            ]
        }]
      ]
    }
  }
}
