@import "../../theme/variables.scss";

* {
  box-sizing: border-box;
}

.AppContainer {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 52px;
}

.AppContent {
  min-height: 600px;
  margin: 16px 16px;

  &.AppContent__isDrawerVisible {
    padding-left: 0;

    @media screen and (min-width: $drawer-screen-size-small) {
      padding-left: $drawer-width-small;
    }

    @media screen and (min-width: $drawer-screen-size-large) {
      padding-left: $drawer-width-large;
    }
  }
}
