@import 'variables/colors';
@import 'variables/fonts';
@import 'variables/mixins';

/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

// Custom Colors
$cyan: #33e0ff;
$humility: #777;

// Bootstrap Variables
$brand-primary: darken(#428bca, 6.5%);
$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;

$text-color: $color-grey900;

$font-size-base: 14px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;

$drawer-width-large: 210px;
$drawer-width-small: 60px;
$drawer-screen-size-large: 1024px;
$drawer-screen-size-small: 800px;

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

html {
  height: 100%;
}

body {
  color: $text-color;
  background-color: #F3F3F3;
  font-family: $font-family;
  font-size: $font-size-normal;
  line-height: 1.428571429; // 20/14;
  margin: 0;
  min-height: 100%;

  #content {
    min-height: 100%;
    position: relative;
  }
  #content > div {
    min-height: 100%;
    position: relative;
  }
}

body {
  a {
    @include link($color-indigo700);
  }

  .cm-invalidchar {
    color: transparent;
  }

  .clearfix {
    display: block;

    &:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }
  }
}

