$font-family: 'Roboto', sans-serif;

$font-size-xx-large: 24px;
$font-size-x-large: 20px;
$font-size-larger: 18px;
$font-size-large: 16px;
$font-size-normal: 14px;
$font-size-small: 12px;

$font-size-error: $font-size-small;