$font-family: "Roboto","Helvetica","Arial",sans-serif;;

$font-size-xx-large: 24px;
$font-size-x-large: 20px;
$font-size-larger: 18px;
$font-size-large: 16px;
$font-size-normal: 14px;
$font-size-small: 12px;

$font-size-error: $font-size-small;
$font-size-success: $font-size-small;
$font-size-h1: 24px;
$font-size-h2: 20px;
$font-size-h3: 18px;
$font-size-h4: 16px;
