@import "../../theme/variables.scss";

.AppLeftNav {
  $color: $color-grey50;
  $header-background-color: $color-blueGrey900;
  $navigation-background-color: $color-blueGrey800;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: none;
  height: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  box-sizing: border-box;
  border-right: none;
  background: #fafafa;
  transform-style: preserve-3d;
  will-change: transform;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: transform;
  color: $color;
  overflow: visible;
  overflow-y: auto;
  z-index: 5;
  width: $drawer-width-small;

  @media screen and (min-width: $drawer-screen-size-large) {
    width: $drawer-width-large;
  }

  .AppLeftNav_header {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: $header-background-color;
    padding: 4px;
    height: 60px;

    @media screen and (min-width: $drawer-screen-size-large) {
      height: 130px;
      padding: 16px;
    }
  }

  .AppLeftNav_avatar {
    @include avatar(48px);
  }

  .AppLeftNav_displayNameContainer {
    width: 100%;
    padding: 8px 0;
    color: $color;
    display: none;
    @media screen and (min-width: $drawer-screen-size-large) {
      display: inline-block;
    }
  }

  .AppLeftNav_navigation {
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    background-color: $navigation-background-color;
    flex-direction: column;
  }

  .AppLeftNav_navigationLink {
    display: flex;
    cursor: pointer;
    color: $color;
    display: block;
    flex-shrink: 0;
    padding: 16px 16px;
    margin: 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;

    &:hover {
      background-color: $color-grey600;
    }
    & :global(.fa) {
      position: relative;
      font-size: 20px;
      bottom: -2px;
    }
  }

  .AppLeftNav_linkText {
    padding-left: 8px;
    display: none;
    @media screen and (min-width: $drawer-screen-size-large) {
      display: inline-block;
    }
  }

  .AppLeftNav_navigationLinkSpacer {
    content: " ";
    background-color: $color;
    height: 1px;
  }

  .AppLeftNav_logout {
    @extend .AppLeftNav_navigationLink;
  }
}